* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: #f4f6f8;
  color: #333;
}

/* Header */
header {
  background-color: hsla(108, 72%, 76%, 0.816);
  color: rgb(225, 167, 167);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
    height: 60px;
    margin-left: -20px;
    margin-top: -10px;
    cursor: pointer;
}
header h1 {
  font-size: 28px;
}

nav a {
  color: rgb(4, 9, 5);
  margin-left: 20px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

nav a:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  min-height: 350px;  
  padding: 60px 40px;
  text-align: left;
  background-image: url("black banner image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 30px;
  color: #f4f6f8;
  text-align: left;
}
.hero p {
  font-size: 25px;
  margin-bottom: 30px;
  color: #f4f6f8;
  text-align: left;
}
.information {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: 25px;
  margin: 15px;
}
.spice {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: 25px;
  margin: 15px;
}
.no {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: 25px;
  margin: 15px;
}
.end {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: 25px;
  margin: 15px;
}
.feature-list {
 list-style-position: outside;
  width: fit-content;
  margin: auto auto;
  padding-left: 18px;
  font-size: 25px;
}
.title {
  text-align: center;
  color: #3b9b19;
  font-size: 28px;
}
.footer-list {
  list-style-position: outside;
  width: fit-content;
  margin: auto auto;
  padding-left: 0px;
  font-size: 25px;
}

.hero button {
  display: block;        
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 7px;
  background-color: #c2ec37;
  cursor: pointer;
  font-weight: bolder;
}

.hero button:hover {
  background-color: #eab308;
}

/* Products Section */

/* Footer */
footer {
  background-color: #0f172a;
  color: white;
  text-align: center;
  padding: 100px;
  margin-top: 50px;
}

footer p {
  font-size: 14px;
}

.contact {
  padding: 90px 90px;
  background-color: #f4f6f8;
  text-align: center;
  font-weight: bold;
  word-spacing: 1px;
  line-height: 1.7;
}
.contact-here {
  color: #21580d;
}
.content-inside {
  color: #0f172a;
}